.block{
    margin: 5px;
    float: left;
}

textarea{
    display: block;
}

label{
    text-align: center;
}

.txtbox{
    width: 10em;
    height: 1em;
    border: 1px solid black;
    padding: 1px;
}